data/blueprints/aidevs_voice-1695287808.json
{
    "name": "[AI_Devs] Voice Note",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1083835,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "[AI_Devs] Voice Note"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateTranscription",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2054683
            },
            "mapper": {
                "model": "whisper-1",
                "fileData": "{{1.voice.data}}",
                "fileName": "{{1.voice.name}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Transcript"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Whisper-1"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "OpenAI"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "fileData",
                        "type": "buffer",
                        "label": "File Data",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "whisper-1"
                            ]
                        }
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "Language"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "Notatka zapisana.",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2054683
            },
            "mapper": {
                "model": "gpt-4",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "The following is the trasncription of a voice note. Use its contents to:\n- Extract 1-2 sentences of the main idea\n- Extract key points\n- Extract followup / actions\n\nPlease note that not all of these sections may appear, so if needed, you can skip some of them. Keep the original language of the message below (en or pl).\n\nAlways write in Polish."
                    },
                    {
                        "role": "user",
                        "content": "{{3.text}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Enrich"
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "OpenAI"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Parameter Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "date",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Message Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5101
            },
            "mapper": {
                "base": "appwMSq5CdeokCeMR",
                "table": "tblutso0tSjx6KKJP",
                "record": {
                    "fldGhaHQHFEAvUBJZ": "{{6.choices[].message.content}}\n\nOriginal:\n{{3.text}}",
                    "fldc2FcxFJve3hjJQ": "note"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Save"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "AI_Devs — Memory"
                        },
                        "table": {
                            "label": "Memories",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldGhaHQHFEAvUBJZ",
                                            "type": "text",
                                            "label": "content",
                                            "multiline": true
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldc2FcxFJve3hjJQ",
                                            "type": "select",
                                            "label": "type",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "resource",
                                                    "value": "resource"
                                                },
                                                {
                                                    "label": "memory",
                                                    "value": "memory"
                                                },
                                                {
                                                    "label": "note",
                                                    "value": "note"
                                                },
                                                {
                                                    "label": "skill",
                                                    "value": "skill"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldExszmRJjNJ56bU",
                                            "type": "text",
                                            "label": "source"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldc2FcxFJve3hjJQ": {
                                    "mode": "chose",
                                    "label": "note"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "overment"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldGhaHQHFEAvUBJZ",
                                "type": "text",
                                "label": "content"
                            },
                            {
                                "mode": "edit",
                                "name": "fldc2FcxFJve3hjJQ",
                                "type": "select",
                                "label": "type"
                            },
                            {
                                "name": "fldExszmRJjNJ56bU",
                                "type": "text",
                                "label": "source"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "record_id",
                        "type": "text",
                        "label": "record_id"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "content",
                        "multiline": true
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "type"
                    },
                    {
                        "name": "source",
                        "type": "text",
                        "label": "source"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "created_at"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}
