data/blueprints/aidevs_chatbot-1696525639.json
{
    "name": "[AI_Devs] Chatbot",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1113016,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "[AI_Devs] Chatbot"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.query}}",
                            "o": "exist"
                        }
                    ],
                    [
                        {
                            "a": "{{1.record_id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "airtable:ActionGetRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5101
                            },
                            "filter": {
                                "name": "Remember",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.record_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appwMSq5CdeokCeMR",
                                "useColumnId": false,
                                "table": "tblutso0tSjx6KKJP",
                                "id": "{{1.record_id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150,
                                    "name": "Get"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "overment",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "AI_Devs — Memory"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Memories"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "record_id",
                                        "label": "record_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "content",
                                        "label": "content",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "type",
                                        "label": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "source",
                                        "label": "source",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "label": "created_at",
                                        "type": "date"
                                    },
                                    {
                                        "name": "synced",
                                        "label": "synced",
                                        "type": "boolean"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 128393,
                                "space": ""
                            },
                            "mapper": {
                                "model": "text-embedding-ada-002",
                                "input": "{{9.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150,
                                    "name": "Embedding JSON"
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        },
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Input"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "openai-gpt-3:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2054683
                            },
                            "mapper": {
                                "url": "/v1/embeddings",
                                "body": "{{4.json}}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150,
                                    "name": "Embed"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "OpenAI"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 7,
                                            "module": "pinecone:upsertVector",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 2167265
                                            },
                                            "filter": {
                                                "name": "Exists?",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.id}}",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{9.synced}}",
                                                            "o": "boolean:notequal",
                                                            "b": "{{true}}"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{9.id}}",
                                                "values": "{{5.body.data[].embedding}}",
                                                "sparseVector": {},
                                                "metadata": [
                                                    {
                                                        "fieldName": "id",
                                                        "fieldType": "string",
                                                        "fieldValue": "{{9.id}}"
                                                    },
                                                    {
                                                        "fieldName": "type",
                                                        "fieldType": "string",
                                                        "fieldValue": "{{9.type}}"
                                                    }
                                                ],
                                                "namespace": "ai_devs"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0,
                                                    "name": "Index"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "Alice",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "pinecone"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "values": {
                                                            "mode": "edit"
                                                        },
                                                        "sparseVector": {
                                                            "nested": {
                                                                "indices": {
                                                                    "mode": "chose"
                                                                },
                                                                "values": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "metadata": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "fieldType": {
                                                                        "mode": "chose",
                                                                        "label": "String"
                                                                    }
                                                                },
                                                                {
                                                                    "fieldType": {
                                                                        "mode": "chose",
                                                                        "label": "String"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:pinecone",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Vector ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "values",
                                                        "type": "array",
                                                        "label": "Values",
                                                        "required": true,
                                                        "spec": {
                                                            "type": "number",
                                                            "label": "Value",
                                                            "name": "value"
                                                        }
                                                    },
                                                    {
                                                        "name": "sparseVector",
                                                        "type": "collection",
                                                        "label": "Sparse Vector",
                                                        "spec": [
                                                            {
                                                                "name": "indices",
                                                                "type": "array",
                                                                "label": "Indices",
                                                                "spec": {
                                                                    "type": "integer",
                                                                    "label": "Index",
                                                                    "name": "value"
                                                                }
                                                            },
                                                            {
                                                                "name": "values",
                                                                "type": "array",
                                                                "label": "Values",
                                                                "spec": {
                                                                    "type": "number",
                                                                    "label": "Value",
                                                                    "name": "value"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "metadata",
                                                        "type": "array",
                                                        "label": "Metadata",
                                                        "spec": [
                                                            {
                                                                "name": "fieldName",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "fieldType",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "String",
                                                                        "value": "string",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fieldValue",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Number",
                                                                        "value": "number",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fieldValue",
                                                                                "type": "number",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Boolean",
                                                                        "value": "boolean",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fieldValue",
                                                                                "type": "boolean",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "List",
                                                                        "value": "list",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fieldValue",
                                                                                "spec": {
                                                                                    "type": "text",
                                                                                    "label": "Value"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "namespace",
                                                        "type": "text",
                                                        "label": "Namespace"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 5101
                                            },
                                            "mapper": {
                                                "base": "appwMSq5CdeokCeMR",
                                                "typecast": false,
                                                "useColumnId": false,
                                                "table": "tblutso0tSjx6KKJP",
                                                "id": "{{9.id}}",
                                                "record": {
                                                    "fld1AccG7pz8LvJPS": true
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0,
                                                    "name": "Synced"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "overment",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "base": {
                                                            "label": "AI_Devs — Memory"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "label": "Memories"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldc2FcxFJve3hjJQ": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                },
                                                                "fld1AccG7pz8LvJPS": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "fldGhaHQHFEAvUBJZ",
                                                                "type": "text",
                                                                "label": "content"
                                                            },
                                                            {
                                                                "name": "fldc2FcxFJve3hjJQ",
                                                                "type": "select",
                                                                "label": "type",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldExszmRJjNJ56bU",
                                                                "type": "text",
                                                                "label": "source"
                                                            },
                                                            {
                                                                "name": "fld1AccG7pz8LvJPS",
                                                                "type": "boolean",
                                                                "label": "synced"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "record_id",
                                                        "label": "record_id",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "label": "content",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "type",
                                                        "label": "type",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "source",
                                                        "label": "source",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "created_at",
                                                        "label": "created_at",
                                                        "type": "date"
                                                    },
                                                    {
                                                        "name": "synced",
                                                        "label": "synced",
                                                        "type": "boolean"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "status": "200",
                                                "body": "<script>    setTimeout(function() {        window.close();    }, 1000);</script>",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "text/html"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "validate": {
                                                            "min": 100
                                                        },
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        },
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "label": "Key",
                                                                "type": "text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 11,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "status": "404",
                                                "body": "{\"data\": \"Record not found or already synced.\"}",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300,
                                                    "name": "404"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "validate": {
                                                            "min": 100
                                                        },
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        },
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "label": "Key",
                                                                "type": "text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 128393,
                                "space": ""
                            },
                            "filter": {
                                "name": "Answer",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.query}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "text-embedding-ada-002",
                                "input": "{{1.query}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600,
                                    "name": "Embedding JSON"
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        },
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Input"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "openai-gpt-3:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2054683
                            },
                            "mapper": {
                                "url": "/v1/embeddings",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "body": "{{15.json}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600,
                                    "name": "Embed"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "OpenAI",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "pinecone:searchIds",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2167265
                            },
                            "mapper": {
                                "vector": "{{16.body.data[].embedding}}",
                                "namespace": "ai_devs",
                                "includeMetadata": true,
                                "sparseVector": {},
                                "limit": "2"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "Search"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Alice",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pinecone"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "vector": {
                                            "mode": "edit"
                                        },
                                        "filterType": {
                                            "label": "Empty"
                                        },
                                        "includeValues": {
                                            "mode": "chose"
                                        },
                                        "includeMetadata": {
                                            "mode": "chose"
                                        },
                                        "sparseVector": {
                                            "nested": {
                                                "indices": {
                                                    "mode": "chose"
                                                },
                                                "values": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pinecone",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "vector",
                                        "type": "array",
                                        "label": "Vector",
                                        "spec": {
                                            "type": "number",
                                            "label": "Value",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Vector ID"
                                    },
                                    {
                                        "name": "namespace",
                                        "type": "text",
                                        "label": "Namespace"
                                    },
                                    {
                                        "name": "filterType",
                                        "type": "select",
                                        "label": "Filter Type",
                                        "validate": {
                                            "enum": [
                                                "simple",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "includeValues",
                                        "type": "boolean",
                                        "label": "Include Values"
                                    },
                                    {
                                        "name": "includeMetadata",
                                        "type": "boolean",
                                        "label": "Include Metadata"
                                    },
                                    {
                                        "name": "sparseVector",
                                        "type": "collection",
                                        "label": "Sparse Vector",
                                        "spec": [
                                            {
                                                "name": "indices",
                                                "type": "array",
                                                "label": "Indices",
                                                "spec": {
                                                    "type": "integer",
                                                    "label": "Index",
                                                    "name": "value"
                                                }
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "spec": {
                                                    "type": "number",
                                                    "label": "Value",
                                                    "name": "value"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "rowSeparator": "other",
                                "otherRowSeparator": ",",
                                "feeder": 6
                            },
                            "mapper": {
                                "value": "{{6.metadata.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "Gather IDs"
                                },
                                "restore": {
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Other"
                                        }
                                    },
                                    "extra": {
                                        "feeder": {
                                            "label": "Search - Query Vectors [6]"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            },
                            "flags": {
                                "stopIfEmpty": true
                            }
                        },
                        {
                            "id": 20,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5101
                            },
                            "mapper": {
                                "base": "appwMSq5CdeokCeMR",
                                "useColumnId": false,
                                "table": "tblutso0tSjx6KKJP",
                                "formula": "IF(SEARCH({record_id}, \"{{19.text}}\"), 1, 0)",
                                "maxRecords": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 600,
                                    "name": "Gather Context"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "overment",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "AI_Devs — Memory"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Memories"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "type": "array",
                                        "label": "Sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "options": [],
                                                "dynamic": true
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "record_id",
                                        "label": "record_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "content",
                                        "label": "content",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "type",
                                        "label": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "source",
                                        "label": "source",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "label": "created_at",
                                        "type": "date"
                                    },
                                    {
                                        "name": "synced",
                                        "label": "synced",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "sync",
                                        "label": "sync",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "rowSeparator": "other",
                                "otherRowSeparator": "\\n\\n\\n",
                                "feeder": 20
                            },
                            "mapper": {
                                "value": "{{20.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600,
                                    "name": "Gather Context"
                                },
                                "restore": {
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Other"
                                        }
                                    },
                                    "extra": {
                                        "feeder": {
                                            "label": "Gather Context - Search Records [20]"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 22,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2054683
                            },
                            "mapper": {
                                "select": "chat",
                                "model": "gpt-3.5-turbo",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Answer ultra-briefly using only the context below and nothing more. If you don't know the answer, truthfully say \"I don't know\" .\n\ncontext```\n{{21.text}}\n```"
                                    },
                                    {
                                        "role": "user",
                                        "content": "{{1.query}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 600,
                                    "name": "Answer"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "OpenAI",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "echo": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-3.5-turbo"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "echo",
                                        "type": "boolean",
                                        "label": "Echo"
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "type": "array",
                                        "label": "Other Input Parameters",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Message Content"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 129369,
                                "space": ""
                            },
                            "mapper": {
                                "data": "{{22.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 600,
                                    "name": "Answer JSON"
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "AI_Devs Answer"
                                        },
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "type": "text",
                                        "label": null
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "status": "200",
                                "body": "{{23.json}}",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}
