data/blueprints/aidevs_transcript-1696693379.json
{
    "name": "[AI_Devs] Transcript",
    "flow": [
        {
            "id": 7,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1115884,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "[AI_Devs] Transcript"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "youtube:ActionGetCaptions",
            "version": 3,
            "parameters": {
                "account": 5055
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{7.video_id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "videoId": "{{7.video_id}}",
                "maxResults": "5"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "YouTube - overment (overment-6544@pages.plusgoogle.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "videoId",
                        "type": "text",
                        "label": "Video ID",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned captions",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "youtube:ActionGetCaption",
            "version": 3,
            "parameters": {
                "account": 5055
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.trackKind}}",
                            "o": "text:equal",
                            "b": "standard"
                        },
                        {
                            "a": "{{2.language}}",
                            "o": "text:equal",
                            "b": "en"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{2.id}}",
                "tfmt": "srt",
                "tlang": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tfmt": {
                            "mode": "chose",
                            "label": "SubRip subtitle (srt)"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "YouTube - overment (overment-6544@pages.plusgoogle.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Caption ID",
                        "required": true
                    },
                    {
                        "name": "tfmt",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "srt",
                                "sbv",
                                "scc",
                                "ttml",
                                "vtt"
                            ]
                        }
                    },
                    {
                        "name": "tlang",
                        "type": "text",
                        "label": "Target language"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 129653,
                "space": ""
            },
            "mapper": {
                "data": "{{5.caption}}",
                "message": "Captions downloaded"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI_Devs: Transcript"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "data",
                        "type": "text",
                        "label": "Data"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{10.json}}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 3,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}
